<app-page-breadcrumb pageTitle="ตารางรายรับรายจ่าย" />

<div class="space-y-6">
  <!-- Table -->
  <div class="mt-4">
    <app-finance-table #financeTable (openModal)="openModal()" />
  </div>

  <app-modal
    [isOpen]="isOpen"
    (close)="closeModal()"
    className="max-w-[700px] p-6 lg:p-10"
  >
    <div>
      <h5 class="mb-2 text-2xl font-semibold text-gray-800 dark:text-white">
        เพิ่มรายรับ / รายจ่าย
      </h5>

      <p class="text-sm text-gray-500 dark:text-gray-400">
        เพิ่มรายการเงินเข้า หรือเงินออกของคุณ
      </p>

      <div class="mt-6 grid gap-4">
        <select
          [(ngModel)]="form.category_id"
          class="h-11 rounded-lg border px-4"
        >
          <option value="">เลือกหมวดหมู่</option>

          <optgroup label="รายรับ">
            @for (item of incomeCategories; track item.category_id) {
              <option [value]="item.category_id">
                {{ item.name }}
              </option>
            }
          </optgroup>

          <optgroup label="รายจ่าย">
            @for (item of expenseCategories; track item.category_id) {
              <option [value]="item.category_id">
                {{ item.name }}
              </option>
            }
          </optgroup>
        </select>

        <input
          type="number"
          placeholder="จำนวนเงิน"
          [(ngModel)]="form.amount"
          class="h-11 rounded-lg border px-4"
        />

        <input
          type="date"
          [(ngModel)]="form.transaction_date"
          class="h-11 rounded-lg border px-4"
        />

        <input
          type="text"
          placeholder="หมายเหตุ"
          [(ngModel)]="form.note"
          class="h-11 rounded-lg border px-4"
        />
      </div>

      <button
        (click)="submitTransaction()"
        [disabled]="loading"
        class="mt-6 w-full rounded-xl bg-brand-500 py-3 font-medium text-white disabled:opacity-50"
      >
        {{ loading ? 'กำลังบันทึก...' : 'บันทึก' }}
      </button>
    </div>
  </app-modal>
</div>