<app-page-breadcrumb pageTitle="ตารางรายรับรายจ่าย" />
<div class="space-y-6">
  <!-- Form Card -->
  <div
    class="rounded-2xl border border-gray-200 bg-white p-6 dark:border-white/[0.05] dark:bg-white/[0.03]"
  >
    <!-- Grid Inputs -->
    <div
      class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4"
    >
      <!-- Input -->
      <div>
        <app-label for="input">Input</app-label>
        <app-input-field type="text" id="input" />
      </div>

      <!-- Input with Placeholder -->
      <div>
        <app-label for="inputTwo">Input with Placeholder</app-label>
        <app-input-field
          type="text"
          id="inputTwo"
          placeholder="info@gmail.com"
        />
      </div>

      <!-- Select Input -->
      <div>
        <app-label>Select Input</app-label>
        <app-select
          [options]="options"
          placeholder="Select an option"
          [value]="selectedOption"
          (valueChange)="handleSelectChange($event)"
          className="dark:bg-dark-900"
        ></app-select>
      </div>

      <!-- Password Input -->
      <div>
        <app-label>Password Input</app-label>
        <div class="relative">
          <app-input-field
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Enter your password"
          />
        </div>
      </div>

      <!-- Date Picker -->
      <div>
        <app-date-picker
          id="date-picker"
          label="Date Picker Input"
          placeholder="Select a date"
          (dateChange)="handleDateChange($event)"
        />
      </div>

      <!-- Time Picker -->
      <div>
        <app-time-picker
          id="time-picker"
          label="Time Select Input"
          placeholder="Select time"
          (timeChange)="onTimeSelected($event)"
        />
      </div>

      <!-- Payment Input -->
      <div>
        <app-label for="card">Input with Payment</app-label>
        <div class="relative">
          <app-input-field
            id="card-number"
            type="text"
            placeholder="Card number"
            className="pl-[62px]"
          />
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="mt-6 flex justify-end">
      <button
        type="button"
        class="rounded-lg bg-brand-500 px-6 py-2.5 text-sm font-medium text-white transition hover:bg-brand-600"
      >
        ยืนยัน
      </button>
    </div>
  </div>

  <div class="mt-4">
    <app-finance-table/>
  </div>

</div>