<div class="grid grid-cols-12 gap-4 md:gap-6">

  <div class="col-span-12 space-y-6 xl:col-span-12">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-3 md:gap-6">

      <!-- Total Users -->
      <div class="rounded-2xl border border-gray-200 bg-white p-5 dark:border-gray-800 dark:bg-white/[0.03] md:p-6">
        <div
          class="flex h-12 w-12 items-center justify-center rounded-xl bg-green-200 dark:bg-gray-800"
          [innerHTML]="icons.groupIcon | safeHtml"
        ></div>

        <div class="mt-5">
          <span class="text-md text-gray-500 dark:text-gray-400">
            จำนวนผู้ใช้งานทั้งหมด
          </span>

          <h4 class="mt-2 text-title-sm font-bold text-gray-800 dark:text-white/90">
            {{ summary.total_users | number }}
          </h4>
        </div>
      </div>

      <!-- Normal Users -->
      <div class="rounded-2xl border border-gray-200 bg-white p-5 dark:border-gray-800 dark:bg-white/[0.03] md:p-6">
        <div
          class="flex h-12 w-12 items-center justify-center rounded-xl bg-yellow-200 dark:bg-gray-800"
          [innerHTML]="icons.groupIcon | safeHtml"
        ></div>

        <div class="mt-5">
          <span class="text-md text-gray-500 dark:text-gray-400">
            จำนวนผู้ใช้งานที่ไม่ใช่ผู้ดูแลระบบ
          </span>

          <h4 class="mt-2 text-title-sm font-bold text-gray-800 dark:text-white/90">
            {{ summary.normal_users | number }}
          </h4>
        </div>
      </div>

      <!-- Admin Users -->
      <div class="rounded-2xl border border-gray-200 bg-white p-5 dark:border-gray-800 dark:bg-white/[0.03] md:p-6">
        <div
          class="flex h-12 w-12 items-center justify-center rounded-xl bg-brand-200 dark:bg-gray-800"
          [innerHTML]="icons.groupIcon | safeHtml"
        ></div>

        <div class="mt-5">
          <span class="text-md text-gray-500 dark:text-gray-400">
            จำนวนผู้ใช้งานที่เป็นผู้ดูแลระบบ
          </span>

          <h4 class="mt-2 text-title-sm font-bold text-gray-800 dark:text-white/90">
            {{ summary.admin_users | number }}
          </h4>
        </div>
      </div>

    </div>
  </div>

  <!-- Chart -->
  <div class="col-span-12 rounded-2xl border border-gray-200 bg-white p-5 dark:border-gray-800 dark:bg-white/[0.03] md:p-6">
    <div class="mb-4 text-lg font-semibold text-gray-800 dark:text-white">
      สรุปจำนวนผู้ใช้งานรายเดือน
    </div>

    <div class="max-w-full overflow-x-auto custom-scrollbar">
      <div class="-ml-5 min-w-[650px] xl:min-w-full pl-2">
        <apx-chart
          [series]="series"
          [chart]="chart"
          [xaxis]="xaxis"
          [plotOptions]="plotOptions"
          [dataLabels]="dataLabels"
          [stroke]="stroke"
          [legend]="legend"
          [yaxis]="yaxis"
          [grid]="grid"
          [fill]="fill"
          [tooltip]="tooltip"
          [colors]="colors"
        ></apx-chart>
      </div>
    </div>
  </div>

</div>